annotated-doc
annotated-types
anyio
certifi
charset-normalizer
click
colorama
distro
fastapi
groq
h11
httpcore
httpx
idna
packaging
pydantic
pydantic_core
python-dotenv
requests
sniffio
starlette
typing-inspection
typing_extensions
urllib3
uvicorn
